.downoload {
    position: relative;
    max-width: 1920px;
    /* height: 720px; */
    overflow: hidden;
    margin: 0px auto;
    border: 1px solid transparent;
    background: #7224EA;
}

.donwoload-main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1280px;
    min-height: 720px;
}

.tel-krugi {
    position: absolute;
    max-width: 100%;
    left: 36.375rem;
    bottom: 0;
    z-index: 1;
}

.downoload__content-text {
    max-width: 1162px;
    height: 84px;
    /* margin: 70px auto; */
    margin-top: 4.375rem;
}

.downoload__content-txt {
    font-family: 'Roboto-Bold';
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
}

.downoload__content-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 772px;
    /* margin: 77px 0 0 376px; */
    margin-top: 4.8125rem;
    z-index: 2;
}

.downoload__content-block-1 {
    display: flex;
    background-color: #FFFFFF;
    width: 374px;
    height: 120px;
    margin-bottom: 4.8125rem;
}

.downoload__menu-txt {
    width: 252px;
    height: 49px;
    margin: 2.4375rem 0 0 1.25rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.downoload__btn {
    text-align: center;
    width: 316px;
    height: 60px;
    background: url(../img/downoload__btn.png);
    outline: none;
    Border: none;
    color: #FFFFFF;
    font-family: 'Roboto-Condensed-Bold';
    font-size: 24px;
    line-height: 28px;
}

.download-call {
    display: flex;
}