.forma {
    background: url("../img/backphoto.png");
    background-repeat: no-repeat;
    max-width: 1920px;
    min-height: 727px;
    margin: 0 auto;
    padding-top: 133px;
    overflow: hidden;
}

.forma__form {
    max-width: 1040px;
    min-height: 500px;
    margin: 0 auto;
}

.forma__container {
    position: relative;
    max-width: 972px;
    background: #FFFFFF;
    min-height: 500px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.14), 0px 16px 24px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: flex-end;
}

.forma__form-wrapper {
    padding-top: 4.625rem;
    margin: 0 auto;
    max-width: 700px;
}


.forma__title {
    font-family: "Roboto-Bold";
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin: 0 auto 1.75rem;
}

.form {
    max-width: 700px;
}

.form__input::placeholder {
    font-family: "Roboto-Regular";
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.9);
    
}

input,
textarea {
    outline: none;
}

.form__input {
    border: none;
    background: none;
    border-bottom: 1px solid #979797;
    width: 100%;
    margin-right: 1.5rem;
    padding: 0 0 5px 0;
    margin-bottom: 9.5px;
}

select {
    border: none;
    background: none;
    border-bottom: 1px solid #979797;
    width: 100%;
    padding-bottom: 0.3125rem;
}

.form__profession-who {
    color: rgba(0, 0, 0, 0.54);
    margin-top: 0px;
    margin-bottom: 0.25rem;
    margin-left: 0.25rem;
}

.form__main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.form__firstname {
    width: 305px;
    margin-right: 1.25rem;
}

.form__item-title {
    font-family: "Roboto-Regular";
    font-size: 12px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.54);
    margin-top: 12px;
    margin-bottom: 2.5px;
}


.form__input:focus{
    border-bottom: 2px solid #651FFF;
}

select:focus {
    border-bottom: 2px solid #651FFF;
}

.form__profession {
    width: 305px;
}

.form__profession-text {
    font-family: "Roboto-Regular";
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 9.5px;
}

.form__telephone {
    width: 305px;
    margin-right: 1.625rem;
}

.form__domen {
    width: 305px;
}

.form__email {
    width: 305px;
    margin-right: 1.625rem;
}

.form__information {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 630px;
    margin-top: 0.1875rem;
}

.form__information-data {
    font-family: "Roboto-Regular";
    font-size: 12px;
    line-height: 18px;
    color: #0B0B0B;
    width: 45%;
}

.form__confedent {
    display: inline-block;
    text-decoration-style: solid;
    font-size: 12px;
    line-height: 18px;
    color: #0B0B0B;
}

.form__btn {
    text-align: center;
    width: 211px;
    height: 60px;
    background: url(../img/form__btn.png);
    outline: none;
    Border: none;
    color: #FFFFFF;
    font-family: 'Roboto-Condensed-Bold';
    font-size: 24px;
    line-height: 28px;
    margin: 0.875rem 0 0 0;
}