.header{
    position: relative;
    max-width: 1920px;
    height: 720px;
    margin: 0 auto;
    overflow: hidden;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 59.03%),
                linear-gradient(0deg, #651FFF -1.81%, #FF5900 33.5%, rgba(253, 191, 15, 0.3) 84.16%, rgba(253, 192, 18, 0.30875) 84.17%, #FFFFFF 145.56%), #FDBF0F;
}

.header__menu{
    margin: -3.125rem 0 0 22.1875rem;
}

.icon-location{
    font-size: 150%;
}

.icon-phone_bluetooth_speaker_24px{
    font-size: 150%;
}

.header__navigation {
    position: relative;
    width: 1176.22px;
    margin: 0 auto;
    align-items: flex-start;
    z-index: 1000;
}



.header__menu-block {
    width: 843.76px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.header__call{
    text-decoration: none;
    color: black;
    font-family: 'Roboto-Bold';
    font-size: 24px;
    line-height: 28px;
}

.header__call-title{
    font-family: 'Roboto-Regular';
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #000000;
}

.header__text-menu{
    font-family: 'Roboto-Condensed-Bold';
    font-size: 16px;
    line-height: 19px;
    color: black;
    text-decoration: none;
}

.header__infoprovodnik{
    font-family: 'Roboto-Regular';
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #000000;
}

.header__provodnik{
    
    width: 260px;
    height: 41px;
    margin: 0.875rem 0 0 0;
    font-family: "Roboto-Condensed-Bold";
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    color: #000000;
}

.header__contacts{
    display: flex;
    justify-content: space-between;
    margin: 2.875rem 0 0 26.25rem;
    width: 784px;
    height: 52px;  
}

.header__number-block{
    text-align: center;
    width: 239.48px;
    height: 52px;
    margin: 0 -1.125rem 0 0;
    z-index: 100;
}

.header__btn {
    text-align: center;
    width: 178px;
    height: 40px;
    background: url(../img/header-knopka.png);
    outline: none;
    Border: none;
    color: #FFFFFF;
    font-family: 'Roboto-Condensed-Bold';
    font-size: 18px;
    line-height: 21px;
}

.header__btn2 {
    text-align: center;
    width: 270.06px;
    height: 60px;
    background: url(../img/header-knopka2.png);
    outline: none;
    Border: none;
    color: #FFFFFF;
    font-family: 'Roboto-Condensed-Bold';
    font-size: 24px;
    line-height: 28px;

}

.header__join{
    position: relative;
    margin: 5.8125rem 0 0 23.5625rem;
    width: 568.18px;
    height: 320px;
    z-index: 1005; 
}

.header__text-input{
    margin: 0 0 0 170px;
    font-family: "Roboto-Bold";
    font-weight: bold;
    font-size: 54px;
    line-height: 63px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__svg-ali{
    margin: 0 0 0 0;
}

.header__text-good{
    width: 361.75px;
    height: 58px;
    margin: 1.25rem 0;
    font-family: "Roboto-Condensed-Regular";
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
}

.galka{
    width: 18px;
    height: 18.04px;
}

.devushka{
    left: 26.36%;
    right: 30.79%;
    top: 23.73%;
    bottom: 88.44%;
    max-width: 100%
}

.mishen_red{
    left: 67.703rem;
    top: 3.25rem;
    max-width: 100%
}

.header__rings {
    position: absolute;
    width: 1280px;
    height: 720px;
    top: 0;
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
}

.header__ring-big {
    position: absolute;
    width: 2000px;
    height: 2000px;
    left: 350px;
    top: -610px;
    border-radius: 100%;
    z-index: 1;
    border: 180px solid rgba(253, 191, 15, 0.3);
    box-sizing: border-box;
}

.header__ring-small {
    position: absolute;
    width: 1300px;
    height: 1300px;
    left: 710px;
    top: -260px;
    border-radius: 100%;
    z-index: 1;
    border: 150px solid rgba(253, 191, 15, 0.3);
    box-sizing: border-box;
}

.header__white-top {
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 59.03%);
    width: 100%;
    height: 720px;
    z-index: 300;
}