.information {
    position: relative;
    overflow: hidden;
    max-width: 1210px;
    height: 1136px;
    margin: 75px auto;
}

.information__glav-text {
    margin: 0 0 0 1.25rem;
    font-family: 'Roboto-Bold';
    font-size: 32px;
    line-height: 42px;
    color: #000000;
}

.information__main-block {
    display: flex;
    justify-content: space-between;
    max-width: 1210px;
    height: 719px;
    margin: 6.25rem 0 0 0;
}

.information__main-block-1 {

    max-width: 605px;
    width: 100%;
    height: 719px;
}

.information__main-block-2 {
    
    max-width: 605px;
    width: 100%;
    /* height: 719px; */
}

.information__label-1 {
    max-width: 100%;
    margin: 0 0 0 7.5rem;
}

.information__label-2 {
    margin: 0 0 0 0;
}

.information__noytbook {
    width: 100%;

}

.information__menu-block {
    display: flex;
    flex-wrap: wrap;
    max-width: 357px;
    width: 100%;
    margin: 2.8125rem 0 0 5.625rem;
}

.information__menu-block li {
    padding-left: 0.903125rem;
}

.information__menu-block li::marker {
    font-size: 1.5rem;
    font-weight: bolder;
}

.information__menu-block-txt {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    line-height: 20px;
}

.information__menu-block-txt2 {
    margin: 1.0625rem 0 0 0;
}

.noytbook {
    margin: 3.9375rem 0 0 5.4375rem;
}

.information__line {
    position: absolute;
    width: 720px;
    height: 0px;
    left: 15.3125rem;
    top: 31.4375rem;
    transform: rotate(90deg);
}

.information__krug-txt {
    display: flex;
    margin: 2.8125rem 0 0 3.875rem;
    max-width: 244px;
}

.information__krug-txt2 {
    display: flex;
    margin: 2.8125rem 0 0 7.375rem;
    max-width: 244px;
}

.information__group-1 {
    display: flex;
    /* flex-wrap: wrap; */
}

.information__group-2 {
    display: flex;
    margin: 0 0 0 0;
    /* flex-wrap: wrap; */
}

.information__krug-text {
    margin: 0 0 0 0.75rem;
    font-family: 'Roboto-Bold';
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.information__up {
    display: flex;
    flex-wrap: wrap;
    max-width: 488px;
    height: 89px;
    margin: 6.75rem 0 0 3.875rem;
}

.infromation__up-text {
    margin: 0.625rem 0 0 1.25rem;
    font-family: 'Roboto-Bold';
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.information__btn {
    text-align: center;
    width: 345px;
    max-width: 100%;
    height: 60px;
    background: url(../img/information__btn.png);
    outline: none;
    Border: none;
    color: #FFFFFF;
    font-family: 'Roboto-Condensed-Bold';
    font-size: 24px;
    line-height: 28px;
    margin: 4.75rem 0 0 3.25rem;
}

.information__footer {
    position: relative;
    max-width: 1210px;
    width: 100%;
    margin: 0px auto;
    background-color: #7224EA;
}

.information__footer-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 1.3125rem;
    max-width: 1210px;
}

.information__footer-text {
    max-width: 1162px;
    height: 84px;
    margin-top: 2.9375rem;
}

.information__footer-txt {
    font-family: 'Roboto-Bold';
    font-size: 32px;
    line-height: 46px;
    color: #FFFFFF;

}

.information__footer-main {
    display: flex;
    max-width: 1210px;
}

.information__footer-main1 {
    display: flex;
    max-width: 505px;
    height: 150px;
}

.information__footer-main2 {
    display: flex;
    max-width: 447px;
    height: 75px;
    margin: 15px auto;
}

.foot-svg {
    display: flex;
    width: 496px;
    height: 110px;

}

.foot-svg__ellipse {
    position: relative;
    width: 80px;
    height: 80px;
    background: #7224EA;
    border-radius: 50%;
    border: 2px solid white;
}

.footer-svg {
    height: 50%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.foot-svg__txt {
    width: 287px;
    height: 88px;

    margin: 0 0 0 1.25rem;
}

.foot-svg__txt-1 {
    font-family: 'Roboto-Bold';
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.foot-svg__txt-2 {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.footer-block__ellipse {
    position: relative;
    width: 80px;
    height: 80px;
    background: #7224EA;
    border-radius: 50%;
    border: 2px solid white;
}