.process{
    position: relative;
    max-width: 1280px;
    min-height: 765px;
    overflow: hidden;
    margin: 0 auto;
}

/* .process__container{
    display: flex;
} */

.process__block{
    display: flex;
    flex-wrap: wrap;
}



.misheniu{
    position: absolute;
    max-width: 100%;
    left: 24.25rem;
    top: 11.4375rem;
}

.chislo{
    position: absolute;
    width: 62px;
    height: 62px;
}

.chislo1{
    left: 24.5625rem;
    top: 33.8125rem;
}

.chislo2{
    left: 25.125rem;
    top: 16.625rem;
}

.chislo3{
    left: 44.0625rem;
    top: 10.25rem;
}

.chislo4{
    left: 54.6875rem;
    top: 24.6875rem;
}

.process__text-1{
    width: 1162px;
    height: 63px;
    margin: 4.375rem 0 0 3.3125rem;
}

.process__txt-1{
    font-family: 'Roboto-Bold';
    font-size: 32px;
    line-height: 42px;
    margin: 0 0 0 0;
    color: #000000;
}

.process__text-2{
    width: 327px;
    height: 57px;
    margin: 2.0625rem 0 0 50.5rem;
}

.process__txt-main{
    font-family: 'Roboto-Regular';
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 0 0 0 0;
}

.process__text-3{
    width: 327px;
    height: 59px;
    margin: 2.4375rem 0 0 3.3125rem;
    text-align: end;
}

.process__text-4{
    width: 268px;
    height: 60px;
    margin: 4.3125rem 0 0 59.5625rem;
}

.process__text-5{
    width: 327px;
    height: 67px;
    margin: 5.5rem 0 0 3.3125rem;
    text-align: end;
}


