.start {
  position: relative;
  max-width: 1920px;
  /* height: 300px; */
  margin: 0px auto;
  /* overflow: hidden; */
  /* border: 1px solid transparent; */
  background: #651FFF;
}

.start__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1162px;
  min-height: 300px;
}

.start__main-text {
  max-width: 1162px;
  height: 42px;
  margin-top: 3.0625rem;
}

.start__main-txt {
  margin: 0 0 0 0;
  font-family: 'Roboto-Bold';
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}

.start__container-main {
  display: flex;
  flex-wrap: wrap;
  max-width: 1183px;
  /* height: 62px; */
  margin-top: 3.75rem;
}

.start__container-main1 {
  display: flex;
  width: 276px;
  height: 62px;
}

.start__main-block__txt {
  font-family: 'Roboto-Regular';
  font-size: 16px;
  line-height: 19px;
  color: #FEFEFE;
  margin: 0.75rem 0 0 1.2rem;
}

.start__container-main2 {
  display: flex;
  max-width: 330px;
  height: 62px;
}

.start__container-main4 {
  display: flex;
}

.right-arrow {
  display: inline-flex;
  position: relative;
  width: 50px;
  height: 20px;
  cursor: pointer;
  margin: 1.25rem;
}

.right-arrow::before,
.right-arrow::after {
  display: inline-flex;
  position: absolute;
  content: '';
}

.right-arrow::before {
  top: 0.5rem;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: rgb(255, 255, 255);
}

.right-arrow::after {
  width: 10px;
  height: 10px;
  top: 0.225rem;
}

.right-arrow::after {
  right: 0;
  border-top: 3px solid rgb(255, 255, 255);
  border-right: 3px solid rgb(255, 255, 255);
  transform: rotate(45deg);
}