.statistics {
    margin: 0 auto;
    height: 720px;
    /* overflow: hidden; */
}

.carusel {
    display: block;
    width: 100%;
    margin: 0 auto;
    background: #FFFFFF;
    box-sizing: border-box;

}

.carusel .container {
    padding: 3.4375rem 0;
}


.carusel-text p {
    font-family: 'Roboto-Bold';
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.carusel-txt p {
    max-width: 701px;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    line-height: 24px;
}

.carusel-buy-left,
.carusel-buy-right {
    margin-top: 4.1875rem;
}

.carusel-buy-text {
    font-family: 'Roboto-Medium';
    font-size: 16px;
    line-height: 19px;
}

.numbers {
    width: 100%;
    font-family: 'Roboto-Bold';
    font-size: 48px;
    line-height: 56px;
}

#demo {
    width: 1170px;
    max-width: 100%;
    border: 1px solid rgba(229, 229, 229, 0.6);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.14), 0px 16px 24px rgba(0, 0, 0, 0.08);
}

.text-title-carusel h3 {
    margin: 4.4375rem 0 6.375rem 0;
    font-family: 'Roboto-Bold';
    font-size: 32px;
    line-height: 42px;
}

.paket-carusel {
    position: absolute;
    left: 54%;
}

.ticket-title-carusel {
    z-index: 1;
    margin: -1.5625rem 2.125rem;
}

.img-logo {
    padding: 0.625rem 6.625rem;
}